# Ignore environment files


# Ignore node_modules
**/node_modules

# Ignore build directories
**/build

# Ignore logs
**/logs
*.log

# Ignore cache
**/.cache

# Ignore other system files
.DS_Store
Thumbs.db
